* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--background-body);
    display: flex;
    flex-direction: column;
}

body * {
    color: var(--text-color);
    font-family: 'Poppins', sans-serif;
}

:root {
    --text-color: white;
    --background-container-color: #373b3d;
    --background-visor-color: #373b3d;
    --background-button-color: #373b3d;
    --background-history-result: rgba(255, 255, 255, 0.05);
    --background-body: #2b2e2f;
    --shadow-white-color: rgba(255, 255, 255, 0.1);
    --shadow-black-color: rgba(0, 0, 0, 0.5);
    --switch-theme: url(./assets/images/MoonStars.svg);
}

.light {
    --text-color: black;
    --background-container-color: #b0b7b9;
    --background-visor-color: #b0b7b9;
    --background-button-color: #b0b7b9;
    --background-history-result: rgba(255, 255, 255, 0.3);
    --background-body: #b0b7b9;
    --shadow-white-color: rgba(0, 0, 0, 0.5);
    --shadow-black-color: rgba(255, 255, 255, 0.1);
    --switch-theme: url(./assets/images/Sun.svg);
}

.mode {
    position: relative;
    width: 100px;
    margin: 70px auto;
    border-radius: 20px;
    align-items: center;
}

.mode button {
    width: 45px;
    height: 45px;
    background: whitesmoke var(--switch-theme) no-repeat center;
    background-size: 25px;
    border: 0;
    border-radius: 50%;
    cursor: pointer;

    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;

    transform: translateY(-50%);
    transition: transform 0.3s ease-in-out;
}

.light .mode button {
    transform: translateX(150%) translateY(-50%);
}

.mode span {
    display: block;
    width: 100px;
    height: 35px;
    background: var(--background-body);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 50px;

    box-shadow: inset 5px 5px 5px var(--shadow-black-color), 
    inset -5px -5px 5px var(--shadow-white-color); 
}

.container_pai {
    display: flex;
    width: 750px;
    margin: auto;
    justify-content: space-between;
}


/* Estilização do corpo da calculadora */
#calculator_body {
    background-color: var(--background-container-color);
    width: 350px;
    height: 450px;

    border-radius: 15px;
    padding: 20px 10px;

    box-shadow: 7px 7px 10px 5px var(--shadow-black-color),
    -7px -7px 10px 5px var(--shadow-white-color);
}

/* Estilização do visor */
#visor {
    width: 90%;
    height: 65px;
    margin: auto;
    margin-bottom: 10px;
    padding-right: 8px;

    background-color: var(--background-visor-color);
    border-radius: 10px;

    font-size: 35px;
    line-height: 65px;
    text-align: right;

    box-shadow: inset 5px 5px 5px var(--shadow-black-color), 
    inset -5px -5px 5px var(--shadow-white-color); 
}

/* Estilização dos botões */

.container_button {
    display: flex;
    justify-content: space-between;
    width: 90%;
    height: 50px;
    margin: 20px auto;
    gap: 20px;
}

button{
    background-color: var(--background-button-color);
    width: 100%;
    border-radius: 10px;

    font-size: 25px;
    border: none;

    box-shadow: 5px 5px 5px var(--shadow-black-color),
    -5px -5px 5px var(--shadow-white-color);

    cursor: pointer;
}

button:hover{
    box-shadow: inset 3px 3px 3px var(--shadow-black-color),
    inset -3px -3px 3px var(--shadow-white-color);
}

/* Estilização do historico */

#container_historico {
    display: flexbox;
    background-color: var(--background-container-color);
    width: 350px;
    border-radius: 15px;
    padding: 10px;
    height: 450px;
    padding-top: 20px;

    box-shadow: 7px 7px 10px var(--shadow-black-color),
    -7px -7px 10px var(--shadow-white-color);
}


/* Estilização do histórico */
#historico{
    display: flex;
    flex-direction: column;
    gap: 10px;

    font-size: 20px;
}

.historico-item {
    cursor: pointer;
    text-align: center;
    padding: 5px;

    border-radius: 10px;
    box-shadow: inset 5px 5px 10px var(--shadow-black-color),
     inset -5px -5px 10px var(--shadow-white-color);
}

.historico-item:hover{
    background-color: var(--background-history-result);
}

.data_time {
    margin-bottom: 5px;
}

h3{
    text-align: center;
    font-size: 30px;
    margin-bottom: 30px;
}

#copyright{
    text-align: center;
    margin-top: 5%;
}